/* Empty. Add your own CSS if you like */
.larger {
    font-size: 100px;
}
.larger-home {
    font-size: 40px;
}
.menu-blur {
-webkit-filter: blur(5px);
opacity: .3;
}
.ionic-contrib-blur {
  overflow: hidden;
	position:absolute;
  width: 100%;
	top:0;
	left:0;
	right:0;
	-webkit-filter:blur(20px);
	opacity:.5;
  z-index: 1;
}

.bar-frosted {
  background-color: #F7F7F7;
}
.background-beauty{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2067a6+1,ff61b8+99,ff61b8+99,ff61b8+100,f60087+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2067a6+1,ff61b8+99,ff61b8+99,ff61b8+100,f60087+100 */
/*background-image: #2067a6; /* Old browsers */
/*background-image: -moz-linear-gradient(45deg,  #2067a6 1%, #ff61b8 99%, #ff61b8 99%, #ff61b8 100%, #f60087 100%); /* FF3.6+ */
/*background-image: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#2067a6), color-stop(99%,#ff61b8), color-stop(99%,#ff61b8), color-stop(100%,#ff61b8), color-stop(100%,#f60087)); /* Chrome,Safari4+ */
/*background-image: -webkit-linear-gradient(45deg,  #2067a6 1%,#ff61b8 99%,#ff61b8 99%,#ff61b8 100%,#f60087 100%); /* Chrome10+,Safari5.1+ */
/*background-image: -o-linear-gradient(45deg,  #2067a6 1%,#ff61b8 99%,#ff61b8 99%,#ff61b8 100%,#f60087 100%); /* Opera 11.10+ */
/*background-image: -ms-linear-gradient(45deg,  #2067a6 1%,#ff61b8 99%,#ff61b8 99%,#ff61b8 100%,#f60087 100%); /* IE10+ */
/*background-image: linear-gradient(45deg,  #2067a6 1%,#ff61b8 99%,#ff61b8 99%,#ff61b8 100%,#f60087 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2067a6', endColorstr='#f60087',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-image: url("/img/home.jpg");
 background-size: 100% 100%;
 /*-webkit-filter: blur(1px);kb
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);*/
}
.background-room{
	 background-image: url("/img/bedroom.jpg");
	background-size: 100% 100%;
}
.background-kitchen{
	 background-image: url("/img/kitchen.jpg");
	background-size: 100% 100%;
}
.frost{
	filter:blur(5px);
	background-color: rgba(255,255,255,0.5);
}
.frosting,.frosting>a{
	background-color:rgba(0,0,0,0);
	background:transparent;
}
.frosting>.item-content{
	background-color:rgba(0,0,0,0.2);
	color:white;
	text-align:center;
	border: none;
}
.bend{
	height:100%;
    width:100%;
	    border:1px solid black;
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    border-radius: 0px 0px 45% 45%;
}
.balanced-item{
	border-color: #bfccd5;
}
.topi{
	/*margin-top: -5%;*/
	position: relative;
}
.room-grid{
	background-color: rgba(50,50,50,0.15);
	margin:3px;
	height:7em;
	border-radius: 5px
}
.ios-back{
	background-color:rgba(220,220,220,0);
}
.ios-back-header{
	background-color:rgba(150,150,150,0.55);
}
.card{
	background-color: rgba(0,0,0,0);
}
.card-wrapper{
	/*background-color:rgba(200,200,200,0.8);*/
	background-image: url("/img/bedroom.jpg");
	-webkit-filter: blur(15px);
	filter: blur(10px);
	position: absolute;
	z-index: -1;
	height: 100%;
	width:100%;
}